.nikeclub {
	margin-top: 250px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__boot {
		position: absolute;
		right: 0px;
		top: 8340px;
		z-index: 70;
	}

	&__box {
		padding: 64px 307px 65px 40px;
		border: 1px solid #FFFFFF;
		border-radius: 10px;
		position: relative;

		&-tittle {
			font-family: 'Futura Md BT';
			font-size: 48px;
			line-height: 58px;
			color: #FFFFFF;
		}

		&-subtitle {
			font-size: 24px;
			line-height: 29px;
			text-transform: capitalize;
			color: #FFFFFF;
			margin-bottom: 32px;
		}

		&-button {
			cursor: pointer;
			padding: 1px 13px 1px 24px;
			border: 1px solid #FFFFFF;
			border-radius: 36px;
			background: transparent;
			font-size: 12px;
			line-height: 0px;
			color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-logo {
			position: absolute;
			top: 100px;
			left: 980px;
			background-image: url("../images/nikeclub-box-logo.png");
			width: 227px;
			height: 90px;
		}
	}

	&__services {
		display: flex;
		justify-content: space-around;
		margin-top: 300px;
		padding: 57px 0 57px 0;

		&-tile {
			display: flex;
			align-items: center;

			&-tittle {
				font-family: 'Futura md bt';
				font-size: 16px;
				line-height: 19px;
				text-transform: capitalize;
				color: #FFFFFF;
				margin-left: 17px;
			}

			&-subtitle {
				font-size: 16px;
				line-height: 19px;
				text-transform: capitalize;
				margin-left: 17px;
				color: #FFFFFF;
			}
		}
	}
}