.shoes__box {
	margin-top: 200px;
	display: flex;
	justify-content: center;

	&-left {
		margin: 160px 60px 0 30px;
		height: 320px;
		width: 800px;

		&-tittle {
			font-family: 'futura md bt';
			font-weight: 400;
			font-size: 64px;
			line-height: 77px;
			color: #FFFFFF;
		}

		&-subtitle {
			margin-top: 20px;
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			color: #FFFFFF;
		}
	}

	&-right {
		margin-top: 85px;
		position: relative;
		width: 700px;
		height: 500px;
		z-index: 1;

		&-gradient {
			position: absolute;
			top: 10px;
			left: 30px;
			width: 500px;
			height: 500px;
			background: conic-gradient(from 180deg at 50% 50%, #BA0000 0deg, rgba(186, 0, 0, 0.28) 360deg);
			mix-blend-mode: hard-light;
			filter: blur(125px);
			border-radius: 419px;
			transform: rotate(71.44deg);
			z-index: 1;
		}

		&-image-one {
			position: absolute;
			background-image: url('../images/box-one.png');
			width: 240px;
			height: 400px;
			z-index: 5000000;
		}

		&-image-two {
			position: absolute;
			top: 0px;
			left: 275px;
			background-image: url('../images/box-two.png');
			width: 320px;
			height: 160px;
			z-index: 50000;
		}

		&-image-three {
			position: absolute;
			top: 185px;
			left: 330px;
			background-image: url('../images/box-three.png');
			width: 240px;
			height: 320px;
			z-index: 5000;
		}
	}
}